@import '~normalize.css';

html {
  font-family: sans-serif;
}

p {
  margin: 0 2em;
}

/*body {
  background-image: url('/noise.jpeg');
  background-size: 10%;
  background-repeat: repeat;
}*/

body {
  background-color: #eee;
}
