.container {
  width: calc(100vw - 200px);
  @media (max-width: 780px) {
    width: calc(100vw);
  }
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;

  .card_body {
    padding: 2rem;
    margin: 1.6rem;
    display: flex;

    @media (max-width: 700px) {
      flex-direction: column;
    }
    border-radius: 50px;

    .card_img {
      border-radius: 20px;
      box-shadow: 10px 10px 0 0 black;
      width: 120px;
      height: 120px;

      aspect-ratio: 1/1;
      object-fit: contain;
    }

    .card_content {
      margin: 5px 20px;
      @media (max-width: 700px) {
        transform: translateY(20px);
      }
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card_title {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;
        margin-left: 0;
      }

      .card_groupname {
        text-align: right;
        margin-right: 0;
      }

      .card_text {
        margin: 0;
      }

      .tag {
        margin: 0.5em 0.5em;
        .tag_item {
          display: inline-block;
          color: white;
          padding: 5px;
          border-radius: 12px;
          font-size: 15px;
          background-color: black;
          margin: 0 3px;
        }
      }
    }
  }
}

.red {
  background-color: #e06d6d;
}

.blue {
  background-color: #8596cc;
}

.yellow_green {
  background-color: #a2c04f;
}

.green {
  background-color: #3fa544;
}

.purple {
  background-color: #a565be;
}

.orange {
  background-color: #c29f3e;
}

.random {
  background-color: #66bac9;
}

.small_container {
  text-decoration: none;
}
