@use '../../styles/mixin' as mx;

/* ----------------------------------------------------
 * 基本スタイル
 * ---------------------------------------------------- */
.container {
  background-color: #f5f5f5;
  color: #333;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 10rem;

  // タブレット以上のスタイル
    @include mx.media(">tablet") {
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* ----------------------------------------------------
 * サイトマップセクション
 * ---------------------------------------------------- */
.sitemap {
  flex-grow: 1;
}

.sitemap h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.sitemapList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  // タブレット以上のスタイル
    @include mx.media(">tablet") {
    flex-direction: column; /* 項目を縦に並べる */
    > * + * {
      margin-top: 0.75rem;
    }
  }
}

.sitemapItem {
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #555;
    transition: color 0.2s ease;

    &:hover {
      color: #1a237e;
      text-decoration: underline;
    }
  }
}

/* ----------------------------------------------------
 * 著作権表示セクション
 * ---------------------------------------------------- */
.footerInfo {
  text-align: center;
  font-size: 0.875rem;
  color: #777;
  margin-top: 2rem;

  // タブレット以上のスタイル
    @include mx.media(">tablet") {
    text-align: right;
    margin-bottom: 0;
    align-self: flex-end;
  }
}

@include mx.media('>tablet') {
  .container {
    flex-direction: row; /* ここで横並びを再定義 */
  }
}

.logo {
  bottom: 0;
  margin-top: calc(41px + 5em);
}
